<nav>
        <ul>
           <a id="logo" href="/" ><li>Maximus</li></a>


           <a href="/criar" ><li>cadastrar</li></a>

           
           <a href="/" ><li id="carrinho">ver produtos</li ></a>

           </ul>
    </nav>