<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.3/font/bootstrap-icons.css">


<section class="search">
    <form action="/pesquisa" method="post">
        <div class="pesquise">
        <input class="txt" type="text" name="tshirt" placeholder="pesquise por produtos">
        <button class="btnSearch" type="submit"><i class="bi bi-search"></i></button>
    </div>
    </form>
</section>